body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background: #eeeeee;
    grid-template-areas:    "header header header  "
                            "contenido contenido sidevar"
                            "widget1 widget2 sidevar"
                            "footer footer footer";
}

.header{
    grid-column-start: header  ;
    grid-column-end: header;
    background: rgb(67, 75, 75);
    color: #eeeeee;
}

.contenido{ 
    background: white;
    grid-column-start: contenido;
    grid-column-end: contenido;
}

.sidevar{
    background: orange;
    grid-column-start: sidevar;
    grid-column-end: sidevar;
    grid-row-start: sidevar;
    grid-row-end: sidevar;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget1 {
    display: grid;
    gap: 20px;
    background: rgb(0, 238, 255);
    grid-template-columns: 1fr 1fr;
    grid-column-start: widget1;
    grid-column-end: widget1;
    
}
.widget2 {
    display: grid;
    gap: 20px;
    background: rgb(0, 238, 255);
    grid-template-columns: 1fr 1fr;
    grid-column-start: widget2;
    grid-column-end: widget2;
}
.footer{
    background: rgb(67, 75, 75);
    color: #eeeeee;
    grid-column-start: footer;
    grid-column-end: footer;
}